
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<a href="/VehicleType/List">Back to List of all Vehicle Types</a>
<form method="post" action="/VehicleType/Add">
    <div><span>Name of Vehicle Type: </span><input id="VehicleTypeName" type="text" name="VehicleTypeName" /></div>
    <div><input type="submit" value="Add Vehicle Type"></div>
</form>
