@{
    <h1>List of All Vehicle Types</h1>
    <a href="/VehicleType/Add">Add new Vehicle Type</a>


    <table border="0">
        <thead>
            <tr>
                <th>Vehicle Type ID</th>
                <th>Vehicle Type Name </th>                
                
                <th colspan="2" style="text-align:center;">Action</th>

            </tr>
        </thead>
        @foreach (var VehicleType in Model)
        {

            <tr>


                <td><a href="/VehicleType/show/@VehicleType.VehicleTypeID">@VehicleType.VehicleTypeID  </a></td>
               
                <td>@VehicleType.VehicleTypeName </td>

                

                <td><a href="/VehicleType/Update/@VehicleType.VehicleTypeID">Update/Edit </a></td>

                <td><a href="/VehicleType/ConfirmDelete/@VehicleType.VehicleTypeID">Delete</a></td>
            </tr>
        }
    </table>

          
}