@model OffRoad.Models.VehicleType

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a href="/VehicleType/List">Back to List</a>


<div><span>Vehicle Type ID: </span>@Model.VehicleTypeID</div>
<div><span>Vehicle Type Name: </span> @Model.VehicleTypeName </div>